@{
    ViewBag.Title = "Home Page";
}
<body class="body1">

    <div class="jumbotron">
        <h1>Call of Duty Cutomizer</h1>
        <p class="COD">COD Customizer is  free to use cutomization website where you are able to create and edit guns, attachments, and classes.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Click on one of the tabs to get started with your creation.
            </p>
        </div>
    </div>
</body>